

.intro {
  height: 100vh;
  width: 100%;
  background: #111;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;
  box-sizing: border-box;
}


.introContent {
  max-width: 600px;
  z-index: 2; 
}

.hello {
  font-size: 1.5rem;
  opacity: 0.8;
}

.introText {
  font-size: 3.5rem;
  margin: 10px 0;
}

.highlight {
  color: gold;
}

.introPara {
  margin-top: 10px;
  line-height: 1.6;
  opacity: 0.85;
}



.hireBtn {
  margin-top: 25px;
  padding: 12px 24px;

  background: white;
  color: black;

  border: none;
  border-radius: 30px;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-weight: 600;
}

.hireBtn:hover {
  transform: scale(1.05);
}



.hireImg {
  width: 20px;
}


.bgImage {
  height: 80%;
  object-fit: contain;
}